* {
    margin: 0 auto;
    padding: 0;
}

body {
    background:#ffffff;
}

p {
    text-align: center;
    margin-top: 0px;
    font-family:'Lemon',cursive;
}

table {
    width: 50%;
    background-color: black;
    color: #ffffff;
    font-family: 'Lemon', cursive;
    font-size: 14px;
}

tr {
    width: 50%;
    padding: 5px;
    background-color: #AE0011;
}

td {
    padding: 10px;
}

.c-name-bot {
	font-family: Tahoma, Arial;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
}

.bgx {
        background-image: url("../images/pbg.gif");
	background-repeat: repeat-x ;
        margin-bottom: 20px;
}

h1 {
	font-size: 22px;
	font-weight: bold;
	text-transform: none;
	color: #AE0011;
	font-family: 'Monoton', cursive;
	text-align: center;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	text-transform: none;
	color: #AE0011;
	font-family: 'Monoton', cursive;
	text-align: center;
}

div#menu {
    text-align: center;
    margin-bottom: 20px;
}

div#menu ul li {
    background-color: #AE0011;
    border: 4px outset black;
    display: inline;
    font-size: 20px;
    padding: 5px 100px;
    font-family:'Lemon',cursive;
}

div#menu ul li:hover {
    border-style: inset;
}

div#menu ul a:link {
    color: black;
    text-decoration: none;
}

div#menu ul a:visited {
    color: black;
    text-decoration: none;
}

div#menu ul li.current {
    border-style: inset;
}

.buttons {
    text-align: center;
    margin: 20px;
}

.button {
    margin: 0 20px;
}

.editButton {
    margin-left: 5px;
}

.botImg {
    position: absolute;
    opacity: 0.5;
    right:0;
    bottom: 0;
    z-index: -1;
}

.container {
    width:80%;
}

.columnLeft {
    width:50%;
    float:left;
}

.columnRight {
    width:50%;
    float:right;
}

.columnHead {
    text-align: center;
    margin: 20px 0;
}

.columnText {
    width: 60%;
    font-family:'Lemon',cursive;
}

ul {
    margin-left: 0px;
}

ul.decale {
    margin-left: 10px;
}

ul li {
    margin-left: 5px;
}

ul.decale li {
    margin-left: 15px;
}
